<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>LIFF Starter 頑張りたいです</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
		<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
		<script type="text/javascript">

		document.addEventListener("DOMContentLoaded", () => {
      liff
        .init({
          liffId: '1654153400-yv5lR1Da'
        })
        .then(() => {
          document.getElementById('go').addEventListener('click', () => {
            document.getElementById('log').value =
              '○言語設定\n' +
              'liff.getLanguage()=' + liff.getLanguage() + '\n' +
              '○LIFF SDKのバージョン\n' +
              'liff.getVersion()=' + liff.getVersion() + '\n' +
              '○LINE内ブラウザで動作させているかどうか\n' +
              'liff.isInClient()=' + liff.isInClient() + '\n' +
              '○ログインしているかどうか\n' +
              'liff.isLoggedIn()=' + liff.isLoggedIn() + '\n' +
              '○OS\n' +
              'liff.getOS()=' + liff.getOS() + '\n' +
              '○アクセストークン\n' +
              'liff.getAccessToken()=' + liff.getAccessToken() + '\n' +
              '○画面（1対1のチャット、グループ、またはトークルーム）を一意に識別する値\n' +
              'liff.getContext()=' + JSON.stringify(liff.getContext()) + '\n' +
              '○ユーザー名等\n' +
              'liff.getDecodedIDToken()=' + JSON.stringify(liff.getDecodedIDToken()) + '\n' ;

			  liff.getProfile().then(function(profile) {
              		document.getElementById('log').value += 'liff.getProfile()=' + JSON.stringify(profile) + '\n';
            	}).catch(function(error) {
              		document.getElementById('log').value += 'getProfile ng\n' + JSON.stringify(error);
            	});

			  
			  liff.getFriendship().then(function(data) {
              		document.getElementById('log').value += 'liff.getFriendship()=' + JSON.stringify(data) + '\n';
            	}).catch(function(error) {
              		document.getElementById('log').value += 'getFriendship ng\n';
            	});

          });
        })
        .catch((err) =>{
          document.getElementById('log').value = 'init ng\n' + err;
        });
    });



	//		document.addEventListener("DOMContentLoaded", function() {

	//	  console.log(window.location.href);
		  //document.write(window.location.href);
		  // https://example.com/?liff.state=path#access_token=xxx&context_token=xxx&feature_token=xxx&id_token=xxx&client_id=xxx

	/*	  liff.init({liffId: myLiffId}).then(() => {
			console.log(window.location.href);
			document.write(window.location.href);
			// https://example.com/?liff.state=path
		  });

		});
		*/
	</script>
	</head>

	<body>

	<p>{{moji}}</p>
	<p>{{data_quantity}}</p>
	<div>
	<h3>環境やトークルームの情報を取得</h3>
	<input type="button" id="go" value="実行"/>
	<textarea id="log" style="width:96%;height:350px;"></textarea>
	</div>

	

	</body>

</html>
